*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' ,sans-serif;
}
.container{
   height: 100vh;
   width: 100%;
   background-image: url(image/b2.jpg);
   background-position: center;
   background-size: cover;
   padding-left: 8%;
   padding-right: 8%;
   box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 68px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin: 40px;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: gold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    margin: 40px 0;
    letter-spacing: 2px;
    border-top: 1px solid gold;
    border-radius: 15px;
    font-weight: bold;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: rgb(215, 225, 17);
    font-size: 100px;
}
p{
    color: white;
    font-size: 18px;
    line-height: 15px;

}
button{
    width: 180px;
    color: white;
    font-size: 20px;
    padding: 12px 0;
    background: gold;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    
    background-position: center;
    background-size: cover;
   
}

.card1{
    background-image: url(image/11.jpg);
}
.card2{
    background-image: url(image/11.jpg);
}
.card3{
    background-image: url(image/11.jpg);
}
.card4{
    background-image: url(image/11.jpg);
}

.card :hover{

    transform: translate(-10px);
}
h5{
    color: rgb(215, 225, 17);
    text-shadow: 0 0 5px rgb(140, 133, 114);
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: medium;
}

 